[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/ributzka/pico-sdk
[submodule "external/pico-ice-sdk"]
	path = external/pico-ice-sdk
	url = https://github.com/ributzka/pico-ice-sdk
